*~
db-data
db-init
.env
lando/*

# Projects not invented here.
/mautic
/mautic/bower_components
/mautic/node_modules
/mautic/npm-debug.log
/node_modules
/package-lock.json
/vendor
/bin
/selenium
/mautic_custom/*
!/mautic_custom/.gitkeep
/composer.custom
/plugins.json
/plugins/*
!/plugins/.gitkeep